/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em; /* equal to the font-size 0 to 1 */
}

main {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    width: 40ch; /* 40 characters before wrap */
}