@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
Typography is the way that text is arranged and presented.
*/

body {
  padding: 10%;
  font-size: 2rem;
  font-family: 'Courier New', monospace, sans-serif;
}

/* input,
button {
    font: inherit;
} */

p {
  /* text-transform: none;
    text-align: justify;
    font-style: italic;
    text-indent: 2em; */
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.15em;
  word-spacing: 0.1em;
  font-weight: 400;
}
